<template>
    <div class="router-box">
        <p>This page was made with Vue and Router</p>
    </div>
</template>

<script>
export default {
    name: 'about'
}
</script>

<style scoped>
    .router-box {
        width: 30%;
        margin: 30px auto;
    }

    .router-box p {
        text-align: center;
    }
</style>