<template>
    <nav class="nav-box">
        <h2>Todo App</h2>
        <div class="menu-box">
            <router-link to="/">Todos</router-link>
            <router-link to="about">About</router-link>
            <router-link to="login">Login</router-link>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'heading',
}
</script>

<style scoped>
.nav-box {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightcoral;
}

.nav-box h2 {
    font-size: 28px;
    color: white;
}

.menu-box {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu-box a {
    width: 30%;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition-duration: 300ms;
}

.menu-box a:hover {
    color: white;
    background-color: lightseagreen;
    box-shadow: 0 2px 4px black;
}

</style>