<template>
    <Todos class="todo-box" :todos="todos" v-on:del-todo="deleteTodo" />
</template>

<script>
import Todos from './Todos'

export default {
    name: 'home',
    props: ['todo'],
    components: {
        Todos
    },
    data() {
        return {
            todos: [
            {
                id: 1,
                title: 'Todo One',
                completed: false
            },
            {
                id: 2,
                title: 'Todo Two',
                completed: false
            },
            {
                id: 3,
                title: 'Todo Three',
                completed: false
            }
            ]
        }
    },
    methods: {
        deleteTodo(id) {
            this.todos = this.todos.filter(todo => todo.id !== id)
        }
    }
}
</script>

<style scoped>
    .todo-box {
        width: 30%;
        margin: 30px auto;
    }

</style>