<template>
    <div class="container">
        <h2>Login</h2>
        <form class="form-container" @submit.prevent="onSubmit">
            <div class="input-container">
                <label>Username:</label>
                <input
                    v-model="username"
                />
            </div>

            <div class="input-container">
                <label>Password:</label>
                <input
                    v-model="password"
                    type="password"
                />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'login',
    data: function() {
        return {
            username: '',
            password: '',
            userInfo: {}
        }
    },
    methods: {
        onSubmit: function() {
            let userInfo = {
                username: this.username,
                password: this.password
            }
            this.username = null
            this.password = null

            axios
                .post('https://ken-gigapets.herokuapp.com/api/auth/login', userInfo)
                .then(res => {
                    console.log(res)
                    this.userInfo = res.data.user
                    console.log(this.userInfo, "userInfo")
                })
                .catch(err => {
                    console.log(err)
                })
        }
    }
}
</script>

<style scoped>
    .container {
        display: flex;
        flex-direction :column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .form-container {
        width: 60%;
        margin: 0 auto;
    }

    .input-container {
        margin: 24px auto;
    }

    .form-container label {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }

    .form-container input {
        width: 100%;
        font-size: 18px;
        padding: 8px 6px;
        border: 3px solid lightgray;
        border-radius: 4px;
    }

</style>