<template>
  <div id="app">
    <Heading />
    <router-view />
  </div>
</template>

<script>
import Heading from './components/Heading'
import Router from './Router'

export default {
  name: 'App',
  router: Router,
  components: {
    Heading
  },
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

</style>
